<!-- contact.ejs -->
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact us</a>
    </nav>
    <div class="container">
        <h1>Get in Touch!</h1>
        <h2> je voulais le monde et m'en sortir dans la music et j'ai reussie maintenant elle est fier <br>
        et le film aurait pu finir tragiquement une vie d'artiste une vie de criminel</h2>
        <!-- Your contact page content goes here -->
    </div>
</body>
</html>
