<!-- services.ejs -->
<html>
<head>
    <title>Our Services</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact us</a>
    </nav>
    <div class="container">
        <h1>Check Out Our Services!</h1>
        <h2>la musica nous eloignera de tout caa </h2>
        <!-- Your services page content goes here -->
    </div>
</body>
</html>
